/*------------------------------------*\
    # Html and body
\*------------------------------------*/

html {
  background: transparent;
  box-sizing: border-box;
}


body {
  color: $mainColor;
  font: 16px/1.5 $mainFontFamily;
}


*, *:before, *:after {
  box-sizing: border-box;
}




/*------------------------------------*\
    # Selection
\*------------------------------------*/

::selection {
  color: #fff;
  background: $highlightColor;
}


img::selection {
  background: transparent;
}


::-moz-selection {
  color: #fff;
  background: $highlightColor;
}


img::-moz-selection {
  background: transparent;
}


::-webkit-selection {
  color: #fff;
  background: $highlightColor;
}


img::-webkit-selection {
  background: transparent;
}




/*------------------------------------*\
    # Images
\*------------------------------------*/

img {
  height: auto;
  max-width: 100%;
}




/*------------------------------------*\
    # Links
\*------------------------------------*/

a, a *, .button {
  color: $highlightColor;
  text-decoration: none;

  @include single-transition(color, 0.2s);
}




/*------------------------------------*\
    # Headings
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  color: $mainColor;


  a {
    color: $mainColor;

  }
}


h1, h2 {
  font-weight: bold;
  line-height: 1.5em;
}


h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.4em;
}


h1 {
  font-size: 3.428em;
}


h2 {
  font-size: 2.142em;
}


h3 {
  font-size: 1.714em;
}


h4 {
  font-size: 1.482em;
}


h5 {
  font-size: 1.142em;
}


h6 {
  font-size: 0.8em;
}




/*------------------------------------*\
    # Text
\*------------------------------------*/

p {
  margin-bottom: 0.357em;
}


strong, b {
  font-weight: 600;
  color: $baseDarkColor;
}


em, i {
  font-style: italic;
}

mark {
  color: #fff;
  background: $highlightColor;
}


small {
  font-size: 85%;
}


abbr {
  cursor: help;
  border-bottom: 1px dotted $mainColor;
}


address {
  margin: 1.428em 0;
}


blockquote {
  margin: 1.428em;
  padding: 10px 20px;
  font-style: italic;
  border-left: 2px solid $mainColor;
}


cite {
  font-size: 90%;
  font-style: italic;
}


pre {
  font-weight: 300;
  border-radius: 3px;
  color: $baseMidDarkColor;
  background: $baseLightColor;
}


kbd {
  color: #fff;
  padding: 2px;
  border-radius: 3px;
  background: $highlightColor;
  font-size: 90%;
}


var {
  font-weight: 300;
  font-style: italic;
}


sub,
sup {
  font-size: 65%;
}


/*------------------------------------*\
    # List
\*------------------------------------*/

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


dl {
  margin: 1.428em 0;
}


dt {
  padding-bottom: 4px;
  color: $baseMidDarkColor;
}


dd {
  padding-left: 10px;
}




/*------------------------------------*\
    # Tables
\*------------------------------------*/

table {
  border-spacing: 0;
  border-collapse: collapse;
}


table, th, td {
  border: 1px solid $baseMidDarkColor;
}


thead {
  background: #fff;
  font-weight: 600;
  color: $baseMidDarkColor;
}


caption {
  font-weight: 600;
  padding-bottom: 5px;
}



/*------------------------------------*\
    # Forms
\*------------------------------------*/

form {
  margin: 1.428em 0;
}

label {
  font-weight: 600;
  margin-bottom: 0.357em;
}
