/*------------------------------------*\
    # Common
\*------------------------------------*/

/* TODO: delete this styles */

.container {
  @include container;
  padding: 0 $offsetPadding;

  &.--after-header {
    margin-top: $offsetHeader;
  }
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
